{% extends "base.html" %}
{% block content %}

<h1>Абитуриентам</h1>

О приеме 2021 г. Видео представление Директора Института математики и информационных технологий Нины Юрьевны Световой.

В деталях представлены характеристики направлений подготовки, количество бюджетных мест, вступительные испытания ЕГЭ и минимально допустимые значения баллов по ним, конкурс при приеме 2020 г., особенности приема 2021 г. и другая полезная абитуриентам информация.


Ректор, д.т.н, профессор А. В. Воронин. Презентация доклада "Развитие ИТ-технологий в Петрозаводском государственном университете".

Все образовательные программы направлений подготовки института всегда имели государственную аккредитацию.

Согласно приказу Рособрнадзора от 28.02.2020, на основании заключения экспертной группы, ПетрГУ признан прошедшим государственную аккредитацию образовательной деятельности сроком на 6 лет по всем реализуемым образовательным программам.

Институт осуществляет прием студентов по следующим направлениям подготовки:

Академический бакалавриат

01.03.01, Математика (очное; бюджетное, платное ).
44.03.05, Педагогическое образование. Математика и информатика (очное; бюджетное, платное).
01.03.02, Прикладная математика и информатика (очное; бюджетное, платное).
09.03.04, Программная инженерия (очное; бюджетное, платное).
09.03.02, Информационные системы и технологии (очное; бюджетное, платное; заочное платное).
Магистратура

01.04.01, Математика (очное; бюджетное, платное).
01.04.02, Прикладная математика и информатика (очное; бюджетное, платное).
09.04.02, Информационные системы и технологии (очное; бюджетное, платное).
Об нинституте (html)

Буклет

Информационный буклет для печати (PDF)

Часто задаваемые вопросы и ответы (ЧаВо)

Дополнительная информации о направлении "09.03.04 Программная Инженерия".

Правила приема.


{% endblock content %}