{% extends "base.html" %}
{% block content %}

<h1>Об институте</h1>


Владимир Ильич Чернецкий
Институт математики и информационных технологий отсчитывает свою историю с 1940 г. Тогда, при создании Петрозаводского государственного университета, был образован физико-мате­матический факультет. Единственной математической кафедрой на новом факультете была кафед­ра математического анализа. Заведовал кафедрой с момента ее основания и до конца своих дней Адам Адамович Райкерус, он же - первый декан факультета.

В 1950 г. из состава кафедры математического анализа выделилась кафедра алгебры и геометрии. Кафедру алгебры и геометрии в 1981 г. преобразовали в кафедру прикладной математики и кибернетики. В конце 1986 г. по инициативе математиков, возглавляемых профессором Влади­миром Ильичем Чернецким, физико-математический факультет разделился на математический и физический (ныне - физико-технический) факультеты. Тогда на факультете было только две кафед­ры, два доктора наук и одна специальность - математика.

В 1989 г. из состава кафедры прикладной математики и кибернетики по инициативе Н. С. Рузановой, А. А. Печникова, Н. С. Реттиева, А. В. Соколова и Г. С. Сиговцева, на базе специализации "вычислительная математика", выделилась кафедра информатики и математического обеспечения.

В 1992 г. образована кафедра алгебры и теории вероятностей, впоследствии переименованная в кафедру теории вероятностей и анализа данных. В 2013 году ввиду присоединения Карельской государственной педагогической академии к ПетрГУ в состав факультета вошла кафедра теории и методики обучения математике и информационно-коммуникационным технологиям в образовании.

Светова Нина Юрьевна
Первым деканом математического факультета стал доцент Андрей Анатольевич Печников. С 1991 по 2011 г. деканом математического факультета был доцент кафедры математического анализа Владимир Александрович Шестаков. С 2011 по 2016 г. деканом был доцент кафедры теории вероятностей и анализа данных Алексей Геннадьевич Варфоломеев. В сентябре 2015 г. математич­еский факультет был переименован в факультет математики и информационных технологий, а 1 сентября 2016 г. на основе факультета был создан Институт математики и информацион­ных технологий (ИМИТ). В настоящее время институтом руководит доцент кафедры математиче­ского анализа Светова Нина Юрьевна.

В 1995 г. по инициативе и непосредственном участии В.И. Чернецкого и А.В. Воронина создан совет по защите кандидатских диссертаций. А в 1997 г. была основана научно-педагогическая школа «Математическое моделирование естественно-научных и хозяйственных процессов и систем управления» под руководством профессора Чернецкого В. И. Сейчас школа объединяет уже несколько научных коллективов, вышедших из лона кафедры и ставших самостоятельными научно-педагогическими и научно-производственными подразделениями: кафедру прикладной математики и кибернетики, кафедру информатики и математического обеспечения, Центр Систем Автоматизации, научно-исследовательскую лабораторию «Информационно-телекоммуникационные системы».

В настоящее время в институте ведется подготовка студентов по программам бакалавров и магистров по направлениям «Математика», «Прикладная математика и информатика», «Информа­ционные системы и технологии», «Программная инженерия», «Педагогическое образование».

Студенты института математики и информационных технологий ведут активную научно-исследовательскую работу и ежегодно представляют Республику Карелия на конференциях, выставках, олимпиадах, чемпионатах. Петрозаводский государственный университет – ведущая международ­ная школа подготовки программистов.


Дата обновления: 26.10.2020

{% endblock content %}