{% extends "base.html" %}
{% block content %}

<h1>Работа в сфере ИКТ и ПОПредложения компаний-партнеров</h1>

Здесь представлены компании-партнеры нашего института, ведущие разработки и исследования в сфере Информационно-коммуникационных технологий и, прежде всего, в области разработки и сопровождения программного обеспечения. Представлены также организации, использующие эти технологии и программное обеспечение на современном уровне.

Рекомендуем нашим студентам использовать эту информацию при поиске работы. Инициирующие отношения с компанией/организацией студент может установить, например, выбрав в декабре для разработки сформулированный ею групповой программный проект по дисциплине "Технология производства программного обеспечения II" (3 курс, весенний семестр, см. раздел "Учебный процесс").

Дополнительную информацию о прохождении практики, возможного трудоустройства и сотрудничества студентов ИМИТ с компаниями можно уточнить в дирекции института.

Обозначение. Символ  и следующий за ним номер года, находящиеся справа от фамилии руководителя компании/организации-партнера указывют год окончания им Математического факультета ПетрГУ (с 2016 г. - Института математики и информационных технологий).

плитки / таблица


«Опти-Софт»
http://www.opti-soft.ru/
Email: ashabaev@opti-soft.ru
Телефон: (8142) 713210, 713222, 713216Шабаев А. И.
<1999>Прохождение практики«Инбисист»
https://inbisyst.ru/
Email: info@inbisyst.ru
Телефон: (814-2) 28-52-20Марахтанов А. Г.
<2005>«Инфокрафт Северо-Запад»
https://www.infocraft.ru/
Email: info@infocraft.ru
Телефон: (8142) 59-29-52Шульгин А. В.
<2001>ООО «Интэрсо»
http://interso.ru/
Email: contact@interso.ru
Телефон: +7 (8142) 33-22-11Волков К. Г.
<2002>«Натлекс»
http://natlex.ru/
Email: info@natlex.ru
Телефон: +7 (921) 228-20-17Мышаков Ю. В.«Неосистемы Северо-Запад»
http://neosystems.ru/
Email: info@neosystems.ru
Телефон: 8 (8142) 67-21-20Дураков В. Л.
Профиль комапанииПрохождение практики«РосКвартал»
http://roskvartal.ru/
Email: mail@roskvartal.ruШевчук В. И.«Техномедиа»
http://sysdyn.ru
Email: iosemenov@gmail.com
VK: https://vk.com/iosemenovСеменов И. О.
<2007>Студия "Медиавеб"
https://mediaweb.ru
Email: info@mediaweb.ru
Телефон: (8142) 672032
Петр Арзяев«Петрозаводскмаш»
http://pzm.su
Email: kadrovik@pzm.su
Телефон: +79212221912
Марченко П. Ю.«Ситилинк»
https://citylink.pro/
Email: resume@citylink.pro
Телефон: +79114375577
Фомин Михаил
<2001>HERE Technologies
https://www.here.com/
Email: maksim.makarov@here.com,
viktoria.ermakova@here.com
 Прохождение практикиКарелия Палп
http://karjalapulp.com/
Email: HR@karjalapulp.com
Телефон: +7 (81451) 32329
 Прохождение практикиAO ПО «Севмаш»
http://www.sevmash.ru/
Email: oto316@sevmash.ru
Телефон: 8(814)50-56-22, 8(814)50-51-53, 89214989982.Прохождение практикиГруппа компаний «Технодар»
https://technodar.group/
Email: a.zhukov@skrt.biz
Телефон: 8 (8142) 59-30-93

{% endblock content %}