 <header>
     <h1>Петрозаводский государственный университет</h1>
     <h2>Институт математики и информационных технологий</h2>
     <hr>
        <ul>
            <li><a href='/'>Главная</a> </li>
            <li><a href='/about'>Институт</a> </li>
            <li><a href='.'>Обучение</a> </li>
            <li><a href='/abit'>Абитуриентам</a> </li>
            <li><a href='/pr_club'>Клуб программистов</a> </li>
            <li><a href='.'>Математический клуб</a> </li>
            <li><a href='/employers'>Вакансии</a> </li>
        </ul>
 </header>