{%load static%}
<header>
    <div class = "d-flex justify-content-around">

        <img src="{% static 'mainapp/img/iss-of-analysis.jpg' %}" alt="" class="logotext__img">
        <div align="center">
            <h4 class = "header__text">Петрозаводский государственный университет</h4>
            <h4 class = "header__text">Институт математики и информационных технологий</h4>
            <img src="{% static 'mainapp/img/g3217.png' %}" alt="" class="logotext__img2">
        </div>
        <img src="{% static 'mainapp/img/tux.svg' %}" alt="" class="logotext__img">
    </div>

     <hr>
        {% include "navbar.html" %}
 </header>