<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-item nav-link active" href="/">Главная </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="nav nav-pills nav-fill" id="navbarNavAltMarkup">
    <div class="navbar-nav">

              <a class="nav-item nav-link" href="/about">Институт</a>
              <a class="nav-item nav-link" href="#">Обучение</a>
              <a class="nav-item nav-link" href="/abit">Абитуриентам</a>
              <a class="nav-item nav-link" href="/pr_club">Клуб программистов</a>
              <a class="nav-item nav-link" href="#">Математический клуб</a>
              <a class="nav-item nav-link" href="/employers">Вакансии</a>

<!--      <a class="nav-item nav-link disabled" href="#">Disabled</a>-->
    </div>
  </div>
</nav>
<!--        <ul>-->
<!--            <li><a href='/'>Главная</a> </li>-->
<!--            <li><a href='/about'>Институт</a> </li>-->
<!--            <li><a href='.'>Обучение</a> </li>-->
<!--            <li><a href='/abit'>Абитуриентам</a> </li>-->
<!--            <li><a href='/pr_club'>Клуб программистов</a> </li>-->
<!--            <li><a href='.'>Математический клуб</a> </li>-->
<!--            <li><a href='/employers'>Вакансии</a> </li>-->
<!--        </ul>-->